*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


.container{
    width: 100%;
    height: 100vh;
    /* background: rgb(2,0,36); */
    background-image: radial-gradient(circle, #2111c9, #5b16bf, #7823b5, #8b32ad, #9942a6);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .calculator:hover{
    background: black ;
} */
.calculator{
    background: #dbac2a;
    /* background: #a115ad; */
    padding: 20px;
    border-radius: 10px;
}

.calculator form input{
    /* border: 0; */
    outline: 0;
    width: 75px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: black;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
.calculator form input:hover{
    background-color: hsl(0, 75%, 68%);
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
.form .display input:hover{
    background: #e3f9ff;
}
form input.equal{
    width: 145px;
}



form input.operator{
    color: #33ffd8;
}








